/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1.6;
	font-size: 1em;
	color: #666;
}

h2 {
	font-size: 1em;
	color: #035386;
}

h1, 
p {
	margin: 0; 
	padding: 0;
}


/* ------------ LAYOUT CONTAINERS ------------ */


header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	width: 100%;
	background-color: #39ACD2;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.main-container {
	width: 100%;
}


/* ------------ HEADER ------------ */

.logo {
	color: #fff;
	margin-left: 10px;
	font-size: 1.3em;
}

.header-nav {
	text-align: right; /* align img to right end */
	margin-right: 10px;
}

.notification {
	margin-right: 10px;
}

.notify-number {
	background: #FFFFFF;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	line-height: 15px; /* vertically center text*/
	text-align: center;
	vertical-align: top;
	display: inline-block;
	display: none;
	margin-right: 10px;
	font-size: 0.8em;
	color: #03b5d3;
}

#notification-list {
	font-size: 0.8em;
	position: absolute;
	color: #00daf5;
	background-color: #c1f3f9;
	display: none;
	display: block;
	width: 100%;
}
/* Toggle class */
#notification-list.show {
	display: block; 
}

.notify-list {
	border-bottom: 1px solid #8db3b9;
	font-size: 0.9em;
	color: #036E7F;
	padding: 15px;
	font-weight: bold;
}

.notify-time {
	font-size: 0.8em;
	display: inline-block;
	margin-left: 22px;
	font-weight: normal;
}

.close-button {
	padding-right: 10px;
	font-weight: bold;
	cursor: pointer;
}

.user-photo {
	border-radius: 50%;
	vertical-align: middle;
	display: none;
}

.user-name {
	color: #fff;
	display: inline-block;
	padding-left: 10px;
	border-left: 1px solid #fff;
}


/* ------------ NAVIGATION ------------ */

.main-nav {
	background-color: #007799;
	padding: 1em;
}

.main-nav img {
	width: 2em;
}

a {
	display: inline-block;
}


/* ------------ DASHBOARD HEADER ------------ */

.dashboard-header h1 {
	font-size: 1em;
	padding: 0 1em;
	background-color: #fff;
	align-self: center;
}

.search-box {
	background-color: #a6dedd;
	border-left: 1px solid #BFBEBE;
	border-bottom: 1px solid #BFBEBE;
	width: 65%;
	padding: 0.6em 0;
	display: inline-block;
	text-align: center;
}

.search-box input {
	width: 80%;
	padding: 0.5em;
	border-radius: 5px;
	border: 2px solid #fff;
	outline: none;
	transition: all 0.4s;
}

.search-box input:focus {
	border: 2px solid #00A2BF;
}

.search-box input[type="text"] {
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
}

.alert {
	background-color: #014D71;
	padding: 10px 20px;
	color: #fff;
}


/* ------------ IMAGES ------------ */

img {
	width: 10%;
}

/* ------------ CHARTS ------------ */


.panel-traffic .chart-container {
    height: 180px;
}

#traffic-chart {
	padding-bottom: 40px;
}

.traffic-labels {
	display: flex;
	justify-content: flex-end;
}

.panel-traffic .traffic-labels button {
	font-size: 0.8em;
	padding: 5px 15px;
	color: #7d7979;
	background-color: #fff;
	width: auto;
}

.panel-traffic button:hover {
	color: #fff;
	background-color: #02ACDD;
	padding: 5px 15px;
}

.panel-traffic .traffic-labels .selected {
	color: #fff;
	background-color: #02ACDD;
	font-weight:600;
	padding: 5px 15px;
}

/* ------------ SOCIAL PANEL ------------ */


[class^="panel-"] {
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-top: 1px solid #C0DAE3;
}

.twitter-stats,
.facebook-stats,
.google-stats,
.instagram-stats,
.linkedin-stats,
.pinterest-stats {
	display: flex;
	background-color: #d7f7fc;
	border: 1px solid #51CADC;
	border-radius: 5px;
	padding: 15px;
	margin-top: 10px;
}
.social-cir {
	width: 60px;
	height: 60px;
	background-color: #036c8a;
	border-radius: 50%;
	padding: 18px;
}
.social-count {
	margin-left: 20px;
}

.social-count p:nth-of-type(1) {
	font-size: 1em;
	font-weight: bold;
	color: #015E89
}

.social-count p:nth-of-type(2) {
	font-size: 1.8em;
	color: #033850;
	line-height: 1em;
}

svg {
	width: 100%;
	fill: #fff;
	display: block;
}

.facebook-svg {
	margin-top: -18px;
}

.linkedin-svg {
	width: 150%;
	margin: -11px -6px;
}

/* ------------ MEMEBR PANEL ------------ */


.member {
	padding: 20px 0;
	border-bottom: 1px solid #C0DAE3;
}

.member:last-child {
	border-bottom: none;
}

.member img {
	border: 1px solid #9bcfd8;
	border-radius: 50%;
	width: 15%;
	height: 15%;
}

.svg-container {
	display: inline-block;
	width: 6%;
	max-width: 20px;
	margin: 10px 10px 0 0;
}

.member-activity .svg-container img {
	border: 0;
	border-radius: 0;
	width: 100%;
	height: auto;
}

.member-info,
.member-activity {
	margin-left: 10px;
}

.member-name,
.member-comments {
	font-weight: bold;
	font-size: 0.8em;
	color: #A9A9A9;
}

.member-email,
.time {
	font-size: 0.8em;
	text-decoration: none;
	color: #038EB1;
	display: inline-block;
}


.date,
.arrow {
	margin-left: auto;
}

.date {
	font-size: 0.7em;
	color: #A9A9A9;
}

.member .arrow {
	border: none;
	width: 1em;
	height: auto;
	align-self: flex-end;
}


/*-------- USER PANEL ------------*/

.user-message,
.user-settings {
	display: flex;
	flex-direction: column;
}

.user-message {
	/*border-bottom: 1px solid #C0DAE3;*/
	padding-bottom: 20px;
}

.user-message input,
textarea,
select {
	margin-bottom: 12px;
	background-color: #CDF6FC;
	padding: 10px 15px;
	border-radius: 8px;
	border:1px solid #CDF6FC;
	outline: 0;
	transition: all 0.4s;
}

/* Stop input box extending ourtside container */
input.wide,
select.wide {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.message {
	width: 100%;
}
.user-settings span {
	font-size: 0.8em;
}

.user-message input:focus,
.message:focus,
select:focus {
	background-color: #B0E9F9;
	border: 2px solid #05b2cc;
}

button {
	background-color: #005e6d;
	border-radius: 8px;
	padding: 8px;
	border: 0;
	color: #fff;
	width: 100%;
}

button:hover {
	background-color: #039BB3;
}

.form-errors {
	font-weight: bold;
	color: #0194fd;
	margin-bottom: 20px;
	display: none;
}

.form-success {
	background-color: #0274A9;
	text-align: center;
	width: 100%;
	color: #fff;
	margin: 0 auto;
	padding: 40px 20px;
	border-radius: 5px;
	display: none;
}

.save-button,
.cancel-button {
	width: 45%;
}

.profile-setting,
.email-setting {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
}


/* switch toggle button */

.switch {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 28px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	border-radius: 30px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #04B2E4;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	border-radius: 50%;
	box-shadow: 2px 2px 5px #687980;
	background-color: #fff;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
  background-color: #0479B6;
}
input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before  {
	-webkit-transform: translateX(73px);
	-ms-transform: translateX(73px);
	transform: translateX(73px);
}

.switch-label {
	position: absolute;
	top: 5px;
	z-index: 100;
	color: #fff;
}

.switch-label:before {
	content: attr(data-on);
	margin-left: 10px;
	opacity: 0;
}

.switch-label:after {
	content: attr(data-off);
	margin-left: 45px;
	opacity: 1;
}

input:checked + .slider .switch-label:before {
	opacity: 1;
}

input:checked + .slider .switch-label:after {
	opacity: 0;
}


/* ================================= 
  	MEDIA QUERIES
==================================== */


@media ( min-width: 768px ) {

	[class^="panel-"] {
		padding: 60px;
	}

	#wrapper {
		display: flex;
	}

	.logo {
		font-size: 1.5em;
	}

	.dashboard-header h1 {
	  font-size: 1.5em;
	 }
	
	.main-nav.flex {
		flex-direction: column;
		justify-content: initial;
		padding: 40px 30px;
	}

	.notification {
		width: 5%;
		vertical-align: middle;
	}

	#notification-list {
		width: 30%;
		right: 0; /*float don't wk with absolute position */
	}

	.user-photo {
		display: inline-block;
		margin-right: 10px;
	}


	.alert {
		width: 90%;
		margin: 20px auto;
	}

	h2 {
		width: 100%;
	}

	a {
		padding-bottom: 30px;
	}


	.traffic-labels {
		justify-content: flex-end;
	}

	.dashboard-header {
		width: 100%;
	}

	.search-box {
		text-align: right;
		padding-right: 20px;
		width: 80%;
		max-width: 800px;
	}

	.search-box input {
		width: 50%;
	}

	.panel-social,
	.panel-statistic {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.panel-statistic {
		padding: 0 40px;
	}

	.twitter-stats, 
	.facebook-stats, 
	.google-stats,
	.instagram-stats,
	.linkedin-stats,
	.pinterest-stats {
		width: 30%;
		margin-bottom: 20px;
	}

	.member img {
		width: 70px;
  		height: 70px;
	}

	.panel-member,
	.panel-user {
		flex-direction: row;
		justify-content: space-between;
		padding: 0 40px 0px 40px;
	}

	.new-member,
	.user-message {
		border-right: 1px solid #C0DAE3;
	}
	
	.new-member,
	.recent-activity,
	.user-settings,
	.user-message  {
		flex: 1; /* flex-grow: 1 doesn't work */
	}

	.new-member,
	.user-message  {
		padding-right: 40px;
	}

	.recent-activity,
	.user-settings {
		padding-left: 40px;
	}
	
	.user-message {
		flex: 1.08; /* fix right border alignment */
	}	

	.user-settings,
	.user-message {
		padding-bottom: 60px;
	}

	textarea {
		height: 86px;
	}

	.canvas-container {
		position: relative;
		width: 100%;
		height: 85%;
	}

	.daily-traffic {
		border-right: 1px solid #C0DAE3;
	}

	.daily-traffic,
	.mobile-users {
		padding: 20px;
		width: 50%;
	}
}

@media (min-width: 769px) {

	.user-message,
	.user-settings {
		flex: 1.08; /* fix panel-user right border alignment */
	}

}

@media (min-width: 1024px) {

	.main-nav.flex {
		padding: 40px;
	}
	.search-box {
		width: 80%;
	}

}